<a class="ui circular icon button" href="https://twitter.com/erikonarheim" title="Twitter">
  <i class="fa fa-twitter fa-fw fa-2x"></i>
</a>
<a class="ui circular icon button" href="https://github.com/eonarheim" title="GitHub">
  <i class="fa fa-github fa-fw fa-2x"></i>
</a>
<a class="ui circular icon button" href="https://www.youtube.com/channel/UCpfvwJIqmxG-3DD4QMofyxg" title="YouTube">
  <i class="fa fa-youtube fa-fw fa-2x"></i>
</a>
<a class="ui circular icon button" href="https://www.linkedin.com/in/erik-onarheim" title="LinkedIn">
  <i class="fa fa-linkedin fa-fw fa-2x"></i>
</a>