<a class="ui circular icon button" href="https://twitter.com/erikonarheim" title="Twitter">
  <i class="twitter icon"></i>
</a>
<a class="ui circular icon button" href="https://github.com/eonarheim" title="GitHub">
  <i class="github icon"></i>
</a>
<a class="ui circular icon button" href="https://www.youtube.com/channel/UCpfvwJIqmxG-3DD4QMofyxg" title="YouTube">
  <i class="youtube icon"></i>
</a>