Title: About
---

<h2>A bit about me...</h2>

<p>@Context.String(BlogKeys.Intro)</p>

<p>I graduated from the University of Minnesota in 2012 with a bachelor's degree in Computer Science, and have been working in the industry as a web developer and system adminsistrator ever since.</p>

<p>I enjoy giving <a href="./talks">talks</a> at local code camps and conferences. Usually I'm talking about TypeScript, JavaScript, video games, or random nerdy topics. I like to <a href="https://github.com/eonarheim">contribute</a> to open source whenever I can. I have an unhealthy obsession with recreational mathematics, vintage computer hardware, compilers, emulators, and memory dumps.</p>

<p>You can check out my many small projects <a href="https://github.com/eonarheim">here</a>

<p><span><i class="fa fa-envelope"></i></span> Contact me at my firstname dot my lastname dot gmail.com if you want to reach me!</p>